<!DOCTYPE html>
<html>
  <head>
    <title>Formview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.glyptodon = "<%= image_url('glyptodon.png') %>";
      window.cloud = "<%= image_url('open_src_cloud.svg') %>";
      window.two_forms = "<%= image_url('share.svg') %>";
      window.person = "<%= image_url('by.svg') %>";
      window.loop = "<%= image_url('sa.svg') %>";
      window.arrow = "<%= image_url('right-arrow.svg') %>";
      window.logo = "<%= image_url('FormViewCropped.png') %>";
    </script>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
